h1{
    color: rgb(197, 44, 44);
}
h3{
    color: rgb(247, 57, 57);
}
p{
    color: rgb(204, 64, 64);
}
ol{
    color: brown;
    line-height: 3;
}
ul{
    color: brown;
    letter-spacing: 5px;
}
#s1{
    background-color: yellow;
}
#s2{
    text-decoration: line-through;
}
#li4{
    text-decoration: underline;
}
a{
    color: rgb(253, 65, 65);
    background-color: yellow;
}